nuxt<template>
  <header class="header">
    <nav class="header__navigation">
      <div class="left">
        <NuxtLink to="Mainpage">Главная</NuxtLink>
        <NuxtLink to="Mywallets">Мои кошельки</NuxtLink>
        <NuxtLink to="TransactionsPage">Мои транзакции</NuxtLink>
      </div>
      <div class="right">
        <h3>alexadams@google.com</h3>
        <button @click="SIGN_OUT()" class="Logout">
          <img src="../static/image_2022-02-08_11-04-34.png" alt="" />
        </button>
      </div>
    </nav>
  </header>
</template>

<script>
import {mapActions} from 'vuex'
export default {
  name: "Header",
  methods: {
    ...mapActions(['SIGN_OUT'])
  },
};
</script>

<style>
.header {
  width: 100%;
  height: 70px;
 
  display: flex;
  align-items: center;
}
.header__navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 

}
.left {
 
  font-size: 22px;
}
.left > * {

  margin-right: 20px;
  text-decoration: none;
  color: #000;
}
.Logout {
  margin-left: 30px;
  border: none;
  cursor: pointer;
}
.right {
  display: flex;
  align-items: center;
  width: max-content;
 
  
}
.Logout img {
  width: 25px;
  height: 25px;
}
</style>
