<template>
  <div id="hello">
    <h1 >Войти в аккаунт</h1>
    <form @submit.prevent="LOGIN_IT()" id="Login">
      <input type="text"  name="email" placeholder="Почта">
      <input type="text" name="password" placeholder="Пароль">
      <button class="btn">Продолжить</button>
    </form>
    <NuxtLink class="links" to="Registration">Регистрация</NuxtLink>
  </div>
</template>

<script>
import "../static/styles/index.css"
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
    name:'Login',
    layout:'zero',
    methods:{
      ...mapActions(['LOGIN_IT'])
    }
    
}
</script>

<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
#hello{
  display: flex;
  flex-direction: column;
  text-align: center;

  height: 100vh;
  align-items: center;
  justify-content: center;
}
#hello h1{
  font-size: 55px;
}
#Login > *{
  margin: 5px 0px;
  height: 56px;
  border: 1px solid black;
  border-radius: 9px;
  padding: 10px;
  font-size: 17px;
  width: 500px;
}
#Login{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: max-content;
  margin: 40px 0px;
  align-items: center;
  width: 500px;
  
}
</style>