<template>
  <div id="allWallets">
    <Header />
    <div class="wallets__container">
      <h1 class="title-name">Мои кошельки</h1>
      <p class="email">alexadams@google.com</p>
      <div class="wallets__container__wallets__count">
        <div class="item">
          <h4>Visa</h4>
          <p>RUB</p>
        </div>
        <div class="item second">
          <h4>Visa</h4>
          <p>RUB</p>
        </div>
        <div class="item third">
          <h4>Visa</h4>
          <p>RUB</p>
        </div>
        <div class="item fourth">
          <h4>Visa</h4>
          <p>RUB</p>
        </div>
        <div class="item">
          <h4>Visa</h4>
          <p>RUB</p>
        </div>
        <div class="item second">
          <h4>Visa</h4>
          <p>RUB</p>
        </div>
        <div class="item third">
          <h4>Visa</h4>
          <p>RUB</p>
        </div>
      </div>
      <NuxtLink to="WalletAdding" class="btns" tag="button">Добавить</NuxtLink>
    </div>
  </div>
</template>

<script>
import "../static/styles/index.css"
import Header from "../components/Header.vue";
export default {
  name: "Mywallets",
  components: {
    Header,
  },
};
</script>

<style>
.btns {
  width: 440px;
  height: 56px;
  border-radius: 10px;
  font-size: 20px;
  background-color: blue;
  border: none;
  color: #fff;
}
.btns:active {
  transition: all.3s ease;
  transform: scale(0.95);
}
</style>
