<template>
  <div id="myTransactions">
    <Header />
    <div class="transactions-wrapper">
      <h1 class="title-name">Мои транзакции</h1>
      <p class="email">alexadams@google.com</p>
      <div class="transactions__table">
        <table class="table_transactions">
          <tr class="line">
            <th>ID</th>
            <th>Отправлено с кошелька</th>
            <th>Категория</th>
            <th>Сумма транзации</th>
            <th>Когда</th>
          </tr>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
          <tr class="content">
            <td>1232312</td>
            <td>VISA</td>
            <td>Автомобиль</td>
            <td>414,000,000</td>
            <td>4 дня назад</td>
          </tr>
          <div class="underline"></div>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import "../static/styles/index.css"
import Header from "../components/Header.vue";
export default {
  name: "TransactionsPage",
  components: {
    Header,
  },
};
</script>

<style></style>
