<template>
  <div id="transactions">
    <h1>Добавить транзакцию</h1>
    <form @click.prevent action="" class="AddTransaction">
      <input type="text"  placeholder="Из кошелька" />
      <input type="text"  placeholder="Сумма" />
      <input type="text"  placeholder="Категория" />
      <button class="btn">Добавить</button>
    </form>
  </div>
</template>

<script>
import "../static/styles/index.css"
export default {
    name:"Transactions"
}
</script>

<style>

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
#transactions{
  display: flex;
  flex-direction: column;
  text-align: center;

  height: 100vh;
  align-items: center;
  justify-content: center;

}
#transactions h1{
  font-size: 55px;
}
.AddTransaction > *{
  margin: 5px 0px;
  height: 56px;
  border: 1px solid black;
  border-radius: 9px;
  padding: 10px;
  font-size: 17px;
  width: 500px;
}
.AddTransaction{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: max-content;
  margin: 40px 0px;
  align-items: center;
  width: 500px;
  
}
</style>