* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  font-family: Gilroy;
}
.title-name {
  font-size: 40px;
  font-weight: 950px;
}
 .email {
  font-weight: 900;
  margin-top: 10px;
  color: blue;
}
.mainpage__content-mywallets {
  width: 100%;
  height: 300px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 40px 0px;
  h3 {
    font-size: 25px;
  }
}
.mywallets__wallets-container {
  display: flex;
  width: 100%;
  height: 180px;

  justify-content: space-between;
  .item {
    width: 330px;
    background: linear-gradient(84.37deg, #d7816a 2.27%, #bd4f6c 92.26%);
    color: #fff;

    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 15px;
    h4 {
      font-size: 30px;
    }
  }
  .second {
    background: linear-gradient(84.37deg, #5f0a87 2.27%, #a4508b 92.26%);
  }
  .third {
    background: linear-gradient(84.37deg, #20bf55 2.27%, #01baef 92.26%);
  }
  .fourth {
    background: linear-gradient(84.37deg, #380036 2.27%, #0cbaba 92.26%);
  }
}
.mainpage__content-transactions {
  h3 {
    font-size: 25px;
    margin: 20px 0px;
  }
}
.transactions__table {
  width: 100%;
  height: max-content;
  padding-bottom: 30px;
}
.table_transactions {
  position: relative;
  width: 100%;
  margin: 20px 0px;
  .line {
    th {
      opacity: 0.5;
      text-align: left;
    }
  }
  .content {
    td {
      padding: 20px 0px;
    }
  }
  .underline {
    position: absolute;
    width: 100%;
    // background-color: blue;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
}
.wallets__container {
  width: 100%;
  height: max-content;
  h1 {
    font-size: 40px;
    font-weight: 950px;
  }
 
  &__wallets__count {
    width: 100%;
    height: max-content;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0px;
    .item {
      width: 330px;
      height: 180px;
      margin: 10px;
      background: linear-gradient(84.37deg, #d7816a 2.27%, #bd4f6c 92.26%);
      color: #fff;

      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 20px 15px;
      h4 {
        font-size: 30px;
      }
    }
    .second {
      background: linear-gradient(84.37deg, #5f0a87 2.27%, #a4508b 92.26%);
    }
    .third {
      background: linear-gradient(84.37deg, #20bf55 2.27%, #01baef 92.26%);
    }
    .fourth {
      background: linear-gradient(84.37deg, #380036 2.27%, #0cbaba 92.26%);
    }
  }
}
.btn{
  background-color: blue;
  color: #fff;

}
#reg_wrapper {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  height: 100vh;
}
.Regist {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: max-content;
  margin: 40px 0px;
}
#reg_wrapper h1 {
  font-size: 55px;
}
.Regist > * {
  margin: 5px 0px;
  height: 56px;
  border: 1px solid black;
  border-radius: 9px;
  padding: 10px;
  font-size: 17px;
}
.btn {
  background-color: blue;
  color: #fff;
  border: none;
  box-shadow: 0px 0px 2px blue;
  // background-color: red;
}
input::placeholder {
  color: black;
}
.links {
  color: blue;
  font-size: 1.5em;
  text-decoration: none;
}

